<template>
  <NuxtLink v-if="isLocalUrl(url)" :to="url" @click="$emit('clicked')">
    <slot />
  </NuxtLink>
  <a v-else @click="$emit('clicked')" :href="url" target="_blank" rel="noopener noreferrer">
    <slot />
  </a>
</template>

<script setup lang="ts">
const config = useRuntimeConfig()
import { isLocalUrl, toLocalUrl } from '~/utils/utils'

const props = defineProps({
  to: {
    type: String,
    required: true,
  }
})

const emit = defineEmits(['clicked'])

// Make links to klinikstart.se relative
const url = computed(() => toLocalUrl(config.BASE_URL, props.to))
</script>
