<template>
  <div v-if="items.length > 0">
    <AppLink
      v-for="item in items"
      :key="item.id"
      :to="item.url"
      @clicked="emit('clicked')"
      flex
      items-center
      p-3
      overflow-hidden
      outline-none
      cursor-pointer
      rounded-sm
      shadow-sm
      border-l-8
      hover:border-blue-400
      focus:border-blue-500
      focus:bg-blue-500
      focus:text-white
      bg="white"
      :class="[getBorderColor(item.part), !('section' in item) && noSearch ? 'not-first:mt-3' : 'not-first:mt-1']"
    >
      <div flex-grow :class="{ 'font-semibold': !('section' in item) }">{{ item.name }}</div>
      <div hidden sm:block inline-block text-xs group-focus:text-white whitespace-nowrap>
        <span v-if="item.part" ml-2>{{ item.part }}</span>
        <span v-if="item.part && item.section" mx-1>&gt;</span>
        <span v-if="item.section">{{ item.section }}</span>
      </div>
    </AppLink>
  </div>
  <div v-else bg-white rounded-sm shadow-sm text-center p-10>Inga resultat</div>
</template>

<script setup lang="ts">
import { PropType } from 'vue'
import { AkutKirurgiType } from "~/types/dataTypes";
import { normalizeName } from "~/utils/utils";
const props = defineProps({
  items: {
    type: Object as PropType<AkutKirurgiType[]>,
    required: true,
  },
  noSearch: {
    type: Boolean,
    default: true,
  },
})

const emit = defineEmits(['clicked'])

const { kirurgiBorderColors } = useStyle()

const getBorderColor = (part: string) =>
  kirurgiBorderColors?.[normalizeName(part)] as string ?? 'border-black'

</script>
