<template>
  <div
    v-if="data.items.length > 0 || data.groups.length"
    p="x-6 y-4 sm:x-8 sm:y-6"
    bg-white
    rounded-sm
    shadow-sm
    space-y-6
  >
    <div v-for="group in data.groups" :key="typeof group === 'string' ? group : group.id">
      <h2 text-lg font-semibold tracking-wide case-upper>
        <span v-if="typeof group === 'string'">{{ group }}</span>
        <AppLink v-else :to="group.url" focus:text-blue-500 focus:outline-none>{{ group.name }}</AppLink>
      </h2>
      <hr h-1 m="t-1 b-2" bg-blue-500 border-0 />
      <ul flex="~ col" space-y="1.5">
        <li
          v-for="item in itemsInGroup(data.items, typeof group === 'string' ? group : group.name)"
          :key="item.id"
        >
          <AppLink
            :to="item.url"
            @clicked="emit('clicked')"
            p="x-1 y-0.8 sm:y-0.4"
            focus:text-blue-500
            focus:outline-none
          >{{ item.name }}</AppLink>
        </li>
      </ul>
    </div>
  </div>
  <div v-else bg-white rounded-sm shadow-sm text-center p-10>Inga resultat.</div>
</template>


<script setup lang="ts">
import { PropType } from 'vue'
import {
  AkutMedicinDataType, AkutMedicinType,
  AkutKardiologiDataType, AkutKardiologiType
} from "~/types/dataTypes";

const props = defineProps({
  data: {
    type: Object as PropType<AkutMedicinDataType | AkutKardiologiDataType>,
    required: true,
  }
})

const emit = defineEmits(['clicked'])

const itemsInGroup = (items: Array<AkutMedicinType | AkutKardiologiType>, group: string) => items.filter(
  item => item.group === group
)

</script>
