<template>
  <div v-if="items.length > 0" grid-layout>
    <AppLink
      v-for="item in items"
      :key="item.id"
      :to="item.url"
      @clicked="emit('clicked')"
      grid-item
      flex="~ col h-full"
    >
      <h2 text-lg font-semibold>{{ item.name }}</h2>
      <p flex-grow mt-1 mb-3 text="sm gray-700" class="overflow-hidden">{{ item.url }}</p>
      <div flex>
        <div flex-grow />
        <div
          p="x-2 y-1"
          text="xs white"
          font-bold
          case-upper
          rounded-sm
          m="b--2 r--2"
          :class="item.group == 'Akut' ? 'bg-red-500' : 'bg-blue-500'"
        >{{ item.group }}</div>
      </div>
    </AppLink>
  </div>
  <div v-else bg-white rounded-sm shadow-sm text-center p-10>Inga resultat.</div>
</template>

<script setup lang="ts">
import { PropType } from 'vue'
import { ResourceType } from "~/types/dataTypes";

const props = defineProps({
  items: {
    type: Array as PropType<Array<ResourceType>>,
    required: true,
  }
})

const emit = defineEmits(['clicked'])
</script>
