<template>
  <div grid="~ cols-1 md:cols-2 lg:cols-3 xl:cols-4 gap-3 sm:gap-5" justify-center>
    <div v-for="group in groups" :key="group" w-full p-4 bg-white rounded-sm shadow-sm>
      <h2 text-lg case-upper font="semibold tracking-wide">{{ group }}</h2>
      <hr h-1 m="t-1 b-2" border-0 :class="group == 'Akut' ? 'bg-red-500' : 'bg-blue-500'" />
      <ul flex="~ col" space-y="0.7">
        <li v-for="item in itemsInGroup(items, group)" :key="item.id">
          <AppLink :to="item.url" focus:outline-none focus:bg-blue-50 flex items-center>
            <div
              flex-grow
              p="x-1 y-0.8 sm:x-2 sm:y-0.4"
              rounded-sm
              line-clamp-1
              :class="item.active ? 'bg-blue-300' : item.highlight ? 'bg-blue-100' : 'hover:bg-blue-50'"
            >{{ item.name }}</div>
            <div
              flex="~ shrink-0"
              items-center
              justify-center
              w-6
              h-6
              leading-6
              font-semibold
              text="xs center gray-400"
              v-if="item.active || item.searchIndex >= 0"
            >
              <UnoIcon v-if="item.active" i-fa-solid-chevron-right />
              <div v-else-if="item.searchIndex >= 0">{{ item.searchIndex }}</div>
            </div>
          </AppLink>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue'
import { ResourceTypeExtended } from "~/types/dataTypes";

const props = defineProps({
  items: {
    type: Array as PropType<Array<ResourceTypeExtended>>,
    required: true,
  }
})

const groups = computed(() => new Set(
  props.items.reduce((groups, item) => {
    groups.push(item.group)
    return groups
  }, [] as string[])))

const itemsInGroup = (items: typeof props.items, group: String) => {
  return items.filter(item => item.group === group)
}
</script>
