<template>
  <div v-if="items.length > 0" list-layout>
    <AppLink
      v-for="item in items"
      :key="item.id"
      :to="item.url"
      @clicked="emit('clicked')"
      list-item
    >
      <h2 font-bold line-clamp-1>{{ item.name }}</h2>
      <p font-light text-gray-600 line-clamp-1>{{ item.url }}</p>
    </AppLink>
  </div>
  <div v-else bg-white rounded-sm shadow-sm text-center p-10>Inga resultat.</div>
</template>

<script setup lang="ts">
import { PropType } from 'vue'
import { ResourceType } from "~/types/dataTypes";

const props = defineProps({
  items: {
    type: Array as PropType<Array<ResourceType>>,
    required: true,
  }
})

const emit = defineEmits(['clicked'])
</script>
