<template>
  <form @submit.prevent="formSubmit" autocomplete="off" relative max-w-lg mx-auto px-2>
    <input
      type="search"
      name="search"
      :placeholder="placeholder"
      ref="searchInput"
      v-model.trim="inputQuery"
      @focus="inputFocus = true"
      @blur="inputFocus = false"
      h-11
      w-full
      p="y-2 l-3 r-10"
      transition-colors
      rounded-xl
      border="2 gray-200 focus:blue-500 hover:gray-300"
      focus:outline-none
    />

    <UnoIcon absolute block w-5 h-5 top-3 right-5 text="lg center gray-400" i-fa-search />
  </form>
</template>

<script setup lang="ts">
const props = defineProps({
  focus: {
    type: Boolean,
    default: true,
  },
  query: {
    type: String,
    default: '',
  },
  placeholder: {
    type: String,
    default: 'Sök...',
  },
})

const emit = defineEmits(['update:focus', 'update:query', 'submitted'])

const { focus, query } = toRefs(props)
const searchInput = ref<HTMLInputElement>()

const inputFocus = computed({
  get: () => focus.value,
  set: (value: boolean) => emit('update:focus', value),
})

const inputQuery = computed({
  get: () => query.value,
  set: (value: string) => emit('update:query', value),
})

// Focus search on page load
onMounted(async () => {
  // Sleep function needed for focus to work properly
  await new Promise(r => setTimeout(r, 5));
  if (inputFocus.value) searchInput.value.focus()
})

// Focus search bar on signal
watch(inputFocus, focusValue => {
  if (focusValue) searchInput.value.focus()
})

const formSubmit = () => emit('submitted')
</script>
