<template>
    <nav
        fixed
        top-0
        bottom-0
        left-0
        w-full
        select-none
        whitespace-nowrap
        transition-max-width
        duration-300
        ease-in-out
        bg-gray-700
        :class="maxWidth"
    >
        <!-- Item Container -->
        <div h-full pb-1 overflow="x-hidden y-auto" scrollbar-none overscroll-contain text-white>
            <!-- Header -->
            <div
                flex
                items-center
                justify-end
                h-12
                p-3
                cursor-pointer
                select-none
                whitespace-nowrap
                hover:bg-gray-800
                @click="toggleMenu()"
            >
                <div
                    v-if="!collapsed"
                    flex-grow
                    text-xl
                    font="semibold tracking-wide leading-8"
                >{{ props.data.header }}</div>
                <div flex-shrink-0>
                    <UnoIcon v-if="collapsed" sm:i-bx-bxs-chevron-right w-8 h-8 />
                    <UnoIcon v-else i-bx-bx-x sm:i-bx-bxs-chevron-left w-8 h-8 />
                </div>
            </div>

            <!-- Items -->
            <NuxtLink
                v-for="item in itemsWithId"
                :key="item.id"
                :to="item.target"
                :aria-label="item.name"
                @click="collapseOnSmallScreens()"
                flex
                items-center
                h-12
                p-3
                cursor-pointer
                hover:bg-gray-800
                border-blue-500
                activeClass="pl-2 border-l-4"
                space-x-2
            >
                <div
                    flex="~ shrink-0"
                    items-center
                    justify-center
                    w-8
                    h-8
                    rounded-md
                    bg-gray-900
                >
                    <div :class="item.icon" w-5 h-5 />
                </div>
                <div v-if="!collapsed">{{ item.name }}</div>
            </NuxtLink>
        </div>
    </nav>
</template>

<script setup lang="ts">
import { breakpointsTailwind } from '@vueuse/core'
import { PropType } from 'vue'
import { addId } from '~/utils/utils'

interface MenuDataType {
    header: string
    items: MenuItemType[]
}

interface MenuItemType {
    id?: number, name: string, icon: string, target: string
}

const props = defineProps({
    data: {
        type: Object as PropType<MenuDataType>,
        required: true,
    },
    collapsed: {
        type: Boolean,
        required: true,
    }
})

const emit = defineEmits(['update:collapsed'])
const breakpoints = useBreakpoints(breakpointsTailwind)

const itemsWithId = computed<MenuItemType[]>(() => addId(props.data.items))

const maxWidth = computed(() =>
    props.collapsed ? "max-w-0 sm:max-w-14" : "max-w-64")

const toggleMenu = () => emit('update:collapsed', !props.collapsed)

const collapseOnSmallScreens = () => {
    if (breakpoints.isSmaller('sm')) {
        emit('update:collapsed', true)
    }
}

</script>
