<template>
  <h1 relative pt-10 text="4xl sm:5xl center gray-800" font-bold cursor-default>
    <div inline-block tracking-wider>
      <slot />
    </div>
    <span
      v-if="tinyText"
      absolute
      bottom-0
      text="xs sm:sm gray-600"
      :class="{'motion-safe:animate-pulse animate-duration-300ms animate-count-3': animate}"
    >{{ tinyText }}</span>
  </h1>
</template>

<script setup lang="ts">
const props = defineProps({
  tinyText: String,
  animate: {
    type: Boolean,
    default: false,
  }
})
</script>
