<template>
    <div>
        <!-- Menu Button in mobile mode -->
        <UnoIcon
            z-30
            absolute
            top-0
            left-0
            w-8
            h-8
            m-4
            text-gray-300
            outline-none
            cursor-pointer
            hover:text-gray-400
            focus:text-gray-400
            i-fa-solid-bars
            @click="menuCollapsed = false"
        />
        <!-- Overlay in mobile mode -->
        <div
            sm:hidden
            fixed
            inset-0
            z-40
            bg-black
            opacity-50
            :class="{ 'hidden': menuCollapsed }"
            @click="menuCollapsed = true"
        />

        <!-- <AppLink
            to="/akut"
            aria-label="Akut"
            absolute
            z-30
            top-0
            right-0
            m-4
            w="8 sm:12"
            h="8 sm:12"
            outline-none
            text-gray-300
            hover:text-red-400
            focus:text-red-500
            i-medical-icon:i-first-aid
        /> -->

        <SideMenu z-50 :data="menuData" v-model:collapsed="menuCollapsed" />
        <main
            relative
            min-h-screen
            bg-gray-100
            transition-margin
            ease-in-out
            duration-300
            :class="mainMarginLeft"
        >
            <slot />
        </main>
    </div>
</template>

<script setup lang="ts">
const menuCollapsed = ref(true)
const mainMarginLeft = computed(() =>
    menuCollapsed.value ? "ml-0 sm:ml-14" : "sm:ml-64"
)

const menuData = {
    header: "Klinikstart",
    items: [
        { name: "Resurser", icon: "i-fa-solid-th-large", target: "/" },
        { name: "Akut Internmedicin", icon: "i-fa-solid-first-aid", target: "/medicin" },
        { name: "Akut Kardiologi", icon: "i-fa-solid-heartbeat", target: "/kardiologi" },
        { name: "Akut Kirurgi", icon: "i-fa-solid-x-ray", target: "/kirurgi" },
        { name: "ABC Läkartidningen", icon: "i-fa-solid-font", target: "/abc" },
        { name: "Utbildning", icon: "i-fa-solid-graduation-cap", target: "/utbildning" },
        { name: "Om Klinikstart", icon: "i-fa-solid-info", target: "/om" },
        { name: "Instruktioner", icon: "i-fa-solid-question", target: "/instruktioner" },
    ]
}
</script>
