<template>
    <div main-padding>
        <TheTitle>
            <span text-primary>ABC</span>
            <span>&#32;Läkartidningen</span>
        </TheTitle>
        <aside px-6 mt-2 text="xs sm:sm center gray-600">
            Indexed {{ accessed_time.slice(0, 10) }} at
            <AppLink :to="accessed_url" class="font-semibold">{{ accessed_url.split("/")[2] }}</AppLink>
        </aside>

        <SearchBar v-model:focus="searchFocus" v-model:query="searchQuery" mt-2 mb="3 sm:4" />

        <div v-if="loaded" max-w-screen-md mx-auto>
            <ul v-if="filteredItems.length > 0" list-layout>
                <li v-for="item in filteredItems" :key="item.id" flex items-center space-x-1>
                    <AppLink :to="item.url" @clicked="clearSearch()" list-item flex-grow-1 w-full>
                        <div flex items-center>
                            <h2 flex-grow font-semibold line-clamp-1>{{ item.name }}</h2>
                            <div sm:hidden text-sm text-gray-700>{{ item.date.slice(0, 4) }}</div>
                            <div hidden sm:block text-sm text-gray-700>{{ item.date }}</div>
                        </div>
                        <p font-light text-gray-600 line-clamp-1>{{ item.url }}</p>
                    </AppLink>
                    <AppLink
                        v-if="item.url_pdf !== ''"
                        :to="item.url_pdf"
                        @clicked="clearSearch()"
                        flex
                        items-center
                        justify-center
                        tabindex="-1"
                        w-20
                        h-20
                        rounded-sm
                        bg-gray-700
                        hover:bg-blue-400
                        hover:bg-blue-500
                        cursor-pointer
                    >
                        <UnoIcon text-gray-100 w-10 h-10 :aria-label="'PDF for' + item.name" i-fa-solid-file-pdf />
                    </AppLink>
                    <div v-else w-10 h-10 />
                </li>
            </ul>
            <div v-else bg-white rounded-sm shadow-sm text-center p-10>Inga resultat.</div>
        </div>
        <LoadingContent v-else />
    </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useAbcStore } from '~/stores/abcStore'

useMeta({
    title: "Klinikstart - ABC Läkartidningen",
    meta: {
        hid: 'description',
        name: 'description',
        content: 'Länkar till artiklar från Läkartidningens ABC.'
    }
})

const { index, loadAbc } = useAbcStore()
const { time: accessed_time, url: accessed_url, items, loaded } = storeToRefs(useAbcStore())

if (!loaded.value) loadAbc()

const { searchQuery, searchFocus, clearSearch } = useSearch()

const filteredItems = computed(() =>
    searchQuery.value == ''
        ? [...items.value].sort((a, b) => b.date.localeCompare(a.date))
        : index.search(searchQuery.value).map(i => i.item)
)
</script>
