<template>
    <div>
        <!-- Search box -->
        <!-- <div fixed inset-0 z-40 class="bg-[hsl(211.7,81.9%,69.6%)]">
            <div mt-20 opacity-100 mx-auto max-w-screen-lg bg-white rounded-md>Sokning</div>
        </div> -->
        <!-- Main content -->
        <main min-w-screen min-h-screen bg-gray-100 main-padding>
            <div max-w-screen-2xl m-x-auto>
                <div flex items-center>
                    <div flex text="12 gray-600">
                        <client-only>
                            <div
                                mr="3 sm:5"
                                p-3
                                bg-white
                                rounded-md
                                shadow-sm
                            >{{ startTime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }}</div>
                            <div
                                hidden
                                sm:block
                                mr="3 sm:5"
                                p-3
                                bg-white
                                rounded-md
                                shadow-sm
                            >{{ nowTime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }}</div>
                            <div
                                p-3
                                text-gray-900
                                bg-white
                                rounded-md
                                shadow-sm
                            >{{ timer.min.toString().padStart(2, '0') }}:{{ timer.sec.toString().padStart(2, '0') }}</div>
                        </client-only>
                    </div>
                    <div flex-grow />
                    <div
                        @click="router.back()"
                        flex-shrink-0
                        text="gray-500 hover:gray-800"
                        w-18
                        h-18
                        cursor-pointer
                        i-bx-bx-x
                    />
                </div>

                <div grid="~ cols-1 md:cols-2" gap="3 sm:5" mt="3 sm:5">
                    <div flex="~ col" p-5 bg-white rounded-md shadow-sm>
                        <div flex space-x-4>
                            <div text-6xl>A</div>
                            <ul>
                                <li>Kontrollera fri luftväg</li>
                                <li>Stridor / Paradoxal andning</li>
                                <li>Sug / Kantarell / Svalgtub</li>
                            </ul>
                        </div>
                        <hr border-gray-300 />
                        <div flex space-x-4>
                            <div text-6xl>B</div>
                            <ul>
                                <li>Sidlika andningsrörelser</li>
                                <li>Auskultera lungor</li>
                                <li>Syrgas / NIV</li>
                            </ul>
                        </div>
                        <hr border-gray-300 />
                        <div flex space-x-4>
                            <div text-6xl>C</div>
                            <ul>
                                <li>Pulsar / Kapillär återfyllnad</li>
                                <li>Auskultera hjärta / EKG</li>
                                <li>PVK / IO / Vätska / Blod</li>
                            </ul>
                        </div>
                    </div>
                    <div p-5 bg-white rounded-md shadow-sm>GCS</div>
                </div>
                <div mt-15 text="2xl center">🚧 Under utveckling 🚧</div>
            </div>
        </main>
    </div>
</template>

<script lang="ts">export default { layout: false }</script>
<script setup lang="ts">
useMeta({
    title: "Klinikstart - Akutrummet",
    meta: {
        hid: 'description',
        name: 'description',
        content: 'En resurssida för akutrummet.'
    }
})

const router = useRouter()

const startTime = ref(new Date())
const nowTime = ref(new Date())
const timer = computed(() => {
    const diff = nowTime.value.getTime() - startTime.value.getTime()
    const min = diff / (1000 * 60) % 60 | 0
    const sec = diff / (1000) % 60 | 0
    return { min, sec }
}
)
const interval = setInterval(
    () => nowTime.value = new Date(),
    1000
)
onBeforeUnmount(() => clearInterval(interval))
</script>
