<template>
    <div main-padding>
        <TheTitle :tiny-text="config.VERSION" :animate="animate">
            <span>KLINIK</span>
            <span text-primary>START</span>
        </TheTitle>

        <SearchBar
            @keydown.tab.exact="cycleResources($event, 1)"
            @keydown.shift.tab.exact="cycleResources($event, -1)"
            @submitted="submitSearch()"
            v-model:focus="searchFocus"
            v-model:query="searchQuery"
            mt="2 sm:4"
        />

        <!-- Search Providers -->
        <div
            v-if="providersLoaded"
            flex
            items-center
            justify-center
            mt="1 md:2"
            mb="3 sm:4"
            space-x-1
            text-sm
            text-gray-600
        >
            <div
                v-for="provider in displayedProviders"
                :key="provider.key"
                @click="clickProvider(provider.key)"
                px-2
                py="0.5"
                rounded-sm
                cursor-pointer
                :class="provider.key == activeProvider?.key
                ? 'bg-gray-700 text-white'
                : 'text-gray-700 hover:bg-gray-200 hover:text-gray-800 hover:bg-gray-300 focus:text-gray-900'"
            >
                <span class="font-semibold">!{{ provider.key }}</span>
                <span class="hidden md:inline">: {{ provider.name }}</span>
            </div>
        </div>

        <!-- Main Content -->
        <div
            v-if="resourcesLoaded"
            flex="~ col-reverse 1 sm:row"
            max-w-screen-2xl
            mx-auto
            gap-2
        >
            <div flex-1 min-w-0>
                <ResourceGroups v-if="displayType == 'groups'" :items="extendedResources" />
                <ResourceGrid
                    v-if="displayType == 'grid'"
                    :items="filteredResources"
                    @clicked="clearSearch()"
                />
                <ResourceList
                    v-if="displayType == 'list'"
                    :items="filteredSortedResources"
                    @clicked="clearSearch()"
                />
            </div>
            <div
                flex="~ row sm:col"
                items-center
                gap-2
                justify="center sm:start"
                text-gray-400
                children:w-5
                children:h-5
                children:cursor-pointer
                class="children:hover:text-gray-500"
            >
                <UnoIcon
                    @click="displayType = 'groups'"
                    :class="{ 'text-gray-600 hover:text-gray-600': displayType == 'groups' }"
                    i-fa-solid-th-large
                />
                <UnoIcon
                    @click="displayType = 'grid'"
                    :class="{ 'text-gray-600 hover:text-gray-600': displayType == 'grid' }"
                    i-fa-solid-th
                />
                <UnoIcon
                    @click="displayType = 'list'"
                    :class="{ 'text-gray-600 hover:text-gray-600': displayType == 'list' }"
                    i-fa-solid-list
                />
            </div>
        </div>
        <LoadingContent v-else />
    </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useResourceStore } from '~/stores/resourceStore'
import { useProviderStore } from '~/stores/providerStore'
import { ProviderType, ResourceType, ResourceTypeExtended } from '~/types/dataTypes'
import { isLocalUrl, toLocalUrl, openInNewTab, getProviderSearchUrl, getProviderBaseUrl } from '~/utils/utils'
import Fuse from "fuse.js";

const config = useRuntimeConfig()
const router = useRouter()

const displayType = ref<'groups' | 'grid' | 'list'>('groups')

const { loadProviders } = useProviderStore()
const { index, loadResources } = useResourceStore()
const { providers, loaded: providersLoaded } = storeToRefs(useProviderStore())
const { resources, loaded: resourcesLoaded } = storeToRefs(useResourceStore())

if (!providersLoaded.value) loadProviders()
if (!resourcesLoaded.value) loadResources()

const { searchQuery, searchFocus, clearSearch } = useSearch()

// Animate version number if less than 7 days ago
const animate = (Number(new Date()) - Number(config.DEPLOY_DATE)) / 3600000 / 24 <= 7

const searchResults = ref<Fuse.FuseResult<ResourceType>[]>([])
const activeIndex = ref(-1)
const activeProvider = ref<ProviderType>()
const providerQuery = ref('')
const providerRegex = /^!([a-z]{1,2}) (.+)|(.+) !([a-z]{1,2})$/

watch(searchQuery, query => {
    // Reset
    searchResults.value = []
    activeIndex.value = -1
    providerQuery.value = ''
    activeProvider.value = undefined

    if (query.startsWith('! ')) {
        // Omni Search
    } else if (query.match(providerRegex)) {
        // Search with provider
        const matchGroups = query.match(providerRegex)
        const providerKey = matchGroups[1] ?? matchGroups[4]
        providerQuery.value = matchGroups[2] ?? matchGroups[3]
        activeProvider.value = providers.value.filter(p => p.key == providerKey)[0]
    } else if (query.length > 0) {
        searchResults.value = index.search(query)
        activeIndex.value = searchResults.value.length > 0 ? 0 : -1
    }
})

const displayedProviders = computed(() => providers.value.filter(p => !p?.hidden ?? true))

const searchIndex = computed(() => searchResults.value.map(i => i.refIndex))

const filteredResources = computed<ResourceType[]>(() =>
    searchQuery.value == ''
        ? resources.value
        : searchResults.value.map(i => i.item)
)

const filteredSortedResources = computed<ResourceType[]>(() =>
    searchQuery.value == ''
        ? [...resources.value].sort((a, b) => a.name.localeCompare(b.name))
        : searchResults.value.map(i => i.item)
)

const extendedResources = computed<ResourceTypeExtended[]>(() => resources.value.map(
    (item, i) => Object.assign(item, {
        active: i == searchResults.value[activeIndex.value]?.refIndex,
        highlight: searchIndex.value.indexOf(i) != -1,
        searchIndex: searchIndex.value.indexOf(i)
    })
))

const cycleResources = (e: Event, i: number) => {
    if (displayType.value == 'groups') {
        e.preventDefault()
        activeIndex.value += i
        if (activeIndex.value >= searchIndex.value.length) activeIndex.value = 0
        else if (activeIndex.value < 0) activeIndex.value = searchIndex.value.length - 1
    }
}

const clickProvider = (providerKey: string) => {
    const provider = providers.value.filter(p => p.key == providerKey)?.[0]
    if (provider !== undefined) {
        if (searchQuery.value.length > 0) {
            goToUrl(getProviderSearchUrl(provider, searchQuery.value))
        } else {
            goToUrl(getProviderBaseUrl(provider))
        }
    }
}

const submitSearch = () => {
    if (activeProvider.value !== undefined) {
        const url = getProviderSearchUrl(activeProvider.value, providerQuery.value)
        goToUrl(url)
    } else if (activeIndex.value >= 0) {
        const url = toLocalUrl(
            config.BASE_URL,
            searchResults.value[activeIndex.value].item.url
        )
        goToUrl(url)
    }
}

const goToUrl = (url: string | URL) => {
    if (isLocalUrl(url)) {
        router.push(url)
    } else {
        openInNewTab(url)
    }
    searchQuery.value = ''
}

</script>
