<template>
    <div max-w-screen-md mx-auto main-padding>
        <div mt-13 p="5 sm:10" text-gray-600 bg-white rounded-md shadow-sm>
            <h1 mb-3 text="2xl center" font-bold>Instruktioner</h1>

            <p mb-5 md:px-15 text-center text-lg>
                <strong>Klinikstart.se</strong> har både en startsida med
                användbara resurser och flera indexerade sökbara länksamlingar
                av fritt tillgängliga kliniska hjälpmedel och utbildningsresurser.
            </p>

            <h2 font-semibold mb-1>Sök bland resurser:</h2>
            <p>
                Genom att skriva i sökfältet kan du söka bland resurserna/länkarna
                som visas på sidan resultatet uppdateras medan du skriver.
                För att bläddra mellan resurserna i en sökning tryck på
                <span
                    font-mono
                    text-gray-900
                >TAB</span>
                eller
                <span font-mono text-gray-900>SHIFT-TAB</span>.
                Och för att öppna den aktiva resursen, tryck på
                <span
                    font-mono
                    text-gray-900
                >ENTER</span>.
            </p>

            <hr my-5 border-gray-200 />

            <h2 font-semibold mb-1>Sök via extern tjänst:</h2>
            <p>
                På startsidan kan sökfältet också användas för att söka via t.ex.
                en sökmotor eller Internetmedicin. För att göra en extern sökning,
                skriv din sökning och tryck sedan på ett av alternativen som
                visas under sökfältet. Alternativt skriv ett utropstecken (!)
                följt av tjänstens förkortning först eller sist i sökrutan
                tillsammans med din sökfras och tryck på
                <span
                    font-mono
                    text-gray-900
                >ENTER</span>.
            </p>
            <p>
                <span font-semibold>Exempel:</span> Använd
                <span font-mono text-gray-900>!g</span> för att söka på Google,
                <span font-mono text-gray-900>!f</span> för att söka på Fass eller
                <span font-mono text-gray-900>!i</span> för att söka på Internetmedicin.
            </p>

            <hr my-5 border-gray-200 />

            <h2 font-semibold mb-2>Kortkommandon:</h2>

            <ul grid="~ cols-1 md:cols-2 gap-2">
                <li v-for="k in keybindings">
                    <span bg-gray-200 rounded-sm font-mono text-gray-700 p="x-1 y-0.5">{{ k[0] }}</span>
                    {{ k[1] }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script setup lang="ts">
useMeta({
    title: "Klinikstart - Om",
    meta: {
        hid: 'description',
        name: 'description',
        content: 'Om Klinikstart.'
    }
})

const keybindings = [
    ['CTRL-K', 'Fokusera sökfältet'],
    ['TAB', 'Nästa sökresultat'],
    ['SHIFT-TAB', 'Föregående sökresultat'],
    ['ENTER', 'Gå till aktivt val'],
    ['ESCAPE', 'Rensa och fokusera sökfältet'],
]
</script>

<style scoped>
.contributor-list-item:not(:last-child):after {
    content: "\00A0\2022\00A0";
}
</style>
