<template>
    <div main-padding>
        <TheTitle>
            <span text-primary>Akut</span>
            <span>&#32;Kardiologi</span>
        </TheTitle>

        <aside px-6 mt-2 text="xs sm:sm center gray-600">
            Indexed {{ accessed_time.slice(0, 10) }} at
            <AppLink :to="accessed_url" class="font-semibold">{{ accessed_url.split("/")[2] }}</AppLink>
        </aside>

        <SearchBar v-model:focus="searchFocus" v-model:query="searchQuery" mt-2 mb="3 sm:4" />

        <IndexedGrouped
            v-if="loaded"
            @clicked="clearSearch()"
            :data="{ accessed_time, accessed_url, groups: filteredGroups, items: filteredItems }"
            max-w-screen-md
            mx-auto
        />
        <LoadingContent v-else />
    </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useKardiologiStore } from '~/stores/kardiologiStore'
import { AkutKardiologiType } from '~/types/dataTypes'

useMeta({
    title: "Klinikstart - Akut Kardiologi",
    meta: {
        hid: 'description',
        name: 'description',
        content: 'Länkar till kapitlen i Akut Hjärtsjukvård.'
    }
})

const { index, loadKardiologi } = useKardiologiStore()
const { time: accessed_time, url: accessed_url, groups, items, loaded } = storeToRefs(useKardiologiStore())

if (!loaded.value) loadKardiologi()

const { searchQuery, searchFocus, clearSearch } = useSearch()

const filteredItems = computed<AkutKardiologiType[]>(() =>
    searchQuery.value == ''
        ? items.value
        : index.search(searchQuery.value).map(i => i.item)
)

const filteredGroups = computed<string[]>(() => {
    const nonEmptyGroups = filteredItems.value.map(item => item.group)
    return groups.value.filter(group => nonEmptyGroups.includes(group))
})

</script>
