<template>
    <div main-padding>
        <TheTitle>
            <span text-primary>Akut</span>
            <span>&#32;Kirurgi</span>
        </TheTitle>

        <aside px-6 mt-2 text="xs sm:sm center gray-600">
            Indexed {{ accessed_time.slice(0, 10) }} at
            <AppLink :to="accessed_url" class="font-semibold">{{ accessed_url.split("/")[2] }}</AppLink>
        </aside>

        <SearchBar v-model:focus="searchFocus" v-model:query="searchQuery" mt-2 />

        <!-- Filter Parts -->
        <div flex flex-wrap justify-center max-w-2xl gap-1 mx-auto mt-2 mb="2 sm:3">
            <div
                v-for="part in parts"
                :key="part"
                @click="togglePart(part)"
                @dblclick="selectPart(part)"
                px-3
                py-1
                text-xs
                font-bold
                rounded-sm
                cursor-pointer
                select-none
                :class="filteredParts.includes(part)
                    ? getBgColor(part) + ' text-white'
                    : 'bg-gray-300 text-gray-500'
                "
            >{{ part }}</div>
        </div>

        <div max-w-screen-sm mx-auto mb="3 sm:4" text="center sm gray-500" italic font-semibold>
            <AppLink
                to="https://kunskapsstodforvardgivare.se/download/18.726df72f17f2a7943501fb8/1645856176612/Akut_kirurgi_2022.pdf"
                tabindex="-1"
            >Akut Kirurgi går även att ladda ner som PDF</AppLink>
        </div>

        <IndexedGroupedList
            v-if="loaded"
            @clicked="clearSearch()"
            :items="filteredItemsSections"
            :no-search="searchQuery == ''"
            max-w-screen-md
            mx-auto
        />
        <LoadingContent v-else />
    </div>
</template>

<script setup lang="ts">
import { onKeyUp } from '@vueuse/core'
import { storeToRefs } from 'pinia'
import { useKirurgiStore } from '~/stores/kirurgiStore'
import { AkutKirurgiType } from '~/types/dataTypes'
import { normalizeName } from '~/utils/utils'

useMeta({
    title: "Klinikstart - Akut Kirurgi",
    meta: {
        hid: 'description',
        name: 'description',
        content: 'Länkar till kapitlen i Akut Kirurgi.'
    }
})

const { itemIndex, sectionIndex, loadKirurgi } = useKirurgiStore()
const { time: accessed_time, url: accessed_url, parts, sections, items, loaded } = storeToRefs(useKirurgiStore())

if (!loaded.value) loadKirurgi()

const { kirurgiBgColors } = useStyle()
const { searchQuery, searchFocus, clearSearch } = useSearch()

const filterParts = ref<string[]>()

const filteredParts = computed({
    get: () => filterParts.value ?? parts.value,
    set: (value: string[]) => filterParts.value = value,
})

const filteredItemsSections = computed<AkutKirurgiType[]>(() => {
    let result: AkutKirurgiType[]

    if (searchQuery.value == '') {
        result = sections.value.map(s => [s, ...items.value.filter(i => i.section == s.name)]).flat()
    } else {
        const itemSearch = itemIndex.search(searchQuery.value)
        const sectionSearch = sectionIndex.search(searchQuery.value)

        result = [...itemSearch, ...sectionSearch].sort((a, b) => a.score - b.score).map(i => i.item)
    }

    return result.filter(i => filteredParts.value.includes(i.part))
})

const getBgColor = (part: string) =>
    kirurgiBgColors?.[normalizeName(part)] as string ?? 'bg-gray-300'

const togglePart = (part: string) => {
    if (parts.value.every(c => filteredParts.value.includes(c))) {
        // If all are selected only select clicked
        filteredParts.value = [part]
    } else if (filteredParts.value.includes(part)) {
        // If it's active, remove it from filter list
        filteredParts.value = filteredParts.value.filter(c => c !== part)
        // If filter list is now empty, reset it
        if (filteredParts.value.length == 0) {
            filteredParts.value = parts.value
        }
    } else {
        // Else activate it
        filteredParts.value.push(part)
    }

    console.log(filteredParts.value)
}

const selectPart = (part: string) => filteredParts.value = [part]

// Clear filters on Escape
onKeyUp('Escape', e => filterParts.value = undefined)

</script>
