<template>
    <div main-padding>
        <TheTitle>
            <span text-primary>Akut</span>
            <span>&#32;Internmedicin</span>
        </TheTitle>

        <aside px-6 mt-2 text="xs sm:sm center gray-600">
            Indexed {{ accessed_time.slice(0, 10) }} at
            <AppLink :to="accessed_url" class="font-semibold">{{ accessed_url.split("/")[2] }}</AppLink>
        </aside>

        <SearchBar v-model:focus="searchFocus" v-model:query="searchQuery" mt-2 mb="3 sm:4" />

        <IndexedGrouped
            v-if="loaded"
            @clicked="clearSearch()"
            :data="{ accessed_time, accessed_url, groups: filteredGroups, items: filteredItems }"
            max-w-screen-md
            mx-auto
        />
        <LoadingContent v-else />
    </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useMedicinStore } from '~/stores/medicinStore'
import { AkutMedicinGroupType, AkutMedicinType } from '~/types/dataTypes'

useMeta({
    title: "Klinikstart - Akut Internmedicin",
    meta: {
        hid: 'description',
        name: 'description',
        content: 'Länkar till kapitlen i Akut Medicin.'
    }
})

const { itemIndex, groupIndex, loadMedicin } = useMedicinStore()
const { time: accessed_time, url: accessed_url, groups, items, loaded } = storeToRefs(useMedicinStore())

if (!loaded.value) loadMedicin()

const { searchQuery, searchFocus, clearSearch } = useSearch()

const filteredItems = computed<AkutMedicinType[]>(() =>
    searchQuery.value == ''
        ? items.value
        : itemIndex.search(searchQuery.value).map(i => i.item)
)

const filteredGroups = computed<AkutMedicinGroupType[]>(() => {
    if (searchQuery.value == '') return groups.value

    const foundGroups = groupIndex.search(searchQuery.value).map(i => i.item.name)
    const nonEmptyGroups = filteredItems.value.map(item => item.group)

    return groups.value.filter(group =>
        [...foundGroups, ...nonEmptyGroups].includes(group.name))
})
</script>
