<template>
    <div max-w-screen-md mx-auto main-padding>
        <div mt-13 p="5 sm:10" text="gray-600 center" bg-white rounded-md shadow-sm>
            <h1 mb-3 text-2xl font-bold>Klinikstart.se</h1>

            <p mb-5 md:px-15>
                <strong>Klinikstart.se</strong>
                är en startsida som samlar användbara resurser för kliniker. Har du
                tips på resurser som du använder i din kliniska vardag, hjälp till
                att göra
                <strong>Klinikstart.se</strong>
                bättre genom att dela med dig av din feedback!
            </p>

            <div
                flex="~ col sm:row"
                justify-center
                mb-5
                text="white sm"
                font="semibold leading-4 tracking-wider"
                children:rounded
                children:p="x-4 y-2"
                gap-2
            >
                <AppLink
                    to="https://gitlab.com/klinikstart/klinikstart-se"
                    rounded
                    bg="blue-500 hover:blue-600 focus:blue-600"
                    focus:outline-none
                >Repository</AppLink>
                <AppLink
                    to="https://gitlab.com/klinikstart/klinikstart-se/issues"
                    rounded
                    bg="green-500 hover:green-600 focus:green-600"
                    focus:outline-none
                >Feedback</AppLink>
                <AppLink
                    to="mailto:incoming+klinikstart-klinikstart-se-27176124-issue-@incoming.gitlab.com"
                    rounded
                    bg="red-500 hover:red-600 focus:red-600"
                    focus:outline-none
                >Maila Feedback</AppLink>
                <AppLink
                    to="https://plausible.io/klinikstart.se"
                    bg="purple-500 hover:purple-600 focus:purple-600"
                    focus:outline-none
                >Statistik</AppLink>
            </div>

            <div>
                För att se eftersökta resurser som just nu saknas
                <AppLink
                    to="https://gitlab.com/klinikstart/klinikstart-se/-/issues/20"
                    font-semibold
                >klicka här!</AppLink>
            </div>

            <hr my-5 border-gray-200 />

            <h2 text-lg font-semibold>Utveckling</h2>
            <p>Peter Alping</p>

            <h2 mt-3 text-lg font-semibold>Bidragit med Resurser</h2>
            <ul v-if="loaded" md:px-4>
                <li
                    v-for="contributor in items"
                    inline-block
                    class="contributor-list-item"
                >{{ contributor }}</li>
            </ul>
            <span v-else>Laddar...</span>

            <hr my-5 border-gray-200 />

            <h2 mt-3 text-lg font-semibold>Driftkostnader</h2>
            <ul>
                <!-- 130 SEK x 3 per year -->
                <li>Domännamn: 390 SEK / år</li>
                <li>Domänhantering: 120 SEK / år</li>
                <li>Statistik: 75 USD / år</li>
                <li>
                    <!-- 130 * 3 + 120 + 700 -->
                    <strong>Totalt: ~1210 SEK / år</strong>
                </li>
            </ul>

            <hr my-5 border-gray-200 />

            <p>Klinikstart.se - Peter Alping</p>
        </div>
    </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useContributorStore } from '~/stores/contributorStore'

useMeta({
    title: "Klinikstart - Om",
    meta: {
        hid: 'description',
        name: 'description',
        content: 'Om Klinikstart.'
    }
})

const { loadLearning } = useContributorStore()
const { items, loaded } = storeToRefs(useContributorStore())
if (!loaded.value) loadLearning()
</script>

<style scoped>
.contributor-list-item:not(:last-child):after {
    content: "\00A0\2022\00A0";
}
</style>
