<template>
    <div main-padding>
        <TheTitle>
            <span text-primary>Utb</span>
            <span>ildning</span>
        </TheTitle>

        <SearchBar v-model:focus="searchFocus" v-model:query="searchQuery" my="3 sm:4" />

        <div v-if="loaded" max-w-screen-2xl mx-auto>
            <div v-if="filteredItems.length > 0" grid-layout>
                <AppLink
                    v-for="item in filteredItems"
                    @clicked="clearSearch()"
                    :key="item.id"
                    :to="item.url"
                    grid-item
                >
                    <div flex class="items-start">
                        <h2 flex-grow text-lg font-semibold>{{ item.name }}</h2>
                        <div
                            p="x-2 y-1"
                            text="xs white"
                            font-bold
                            case-upper
                            rounded-sm
                            :class="learningBgColors[item.availability]"
                        >{{ item.availability }}</div>
                    </div>
                    <div mt-2 text="sm gray-700">{{ item.description }}</div>
                </AppLink>
            </div>
            <div v-else bg-white rounded-sm shadow-sm text-center p-10>Inga resultat.</div>
        </div>
        <LoadingContent v-else />
    </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useLearningStore } from '~/stores/learningStore'
import { LearningType } from '~/types/dataTypes'

useMeta({
    title: "Klinikstart - Utbildning",
    meta: {
        hid: 'description',
        name: 'description',
        content: 'Utbildningsresurser inom medicin.'
    }
})

const { index, loadLearning } = useLearningStore()
const { items, loaded } = storeToRefs(useLearningStore())

if (!loaded.value) loadLearning()

const { searchQuery, searchFocus, clearSearch } = useSearch()

const learningBgColors = {
    'Gratis': 'bg-green-500',
    'Registrering': 'bg-yellow-500',
    'Betaltjänst': 'bg-red-500',
}

const sortFunction = (a: LearningType, b: LearningType) => {
    const catValues = Object.keys(learningBgColors)

    return (
        catValues.indexOf(a.availability) - catValues.indexOf(b.availability) ||
        a.name.localeCompare(b.name)
    )
}

const filteredItems = computed(() =>
    searchQuery.value == ''
        ? [...items.value].sort(sortFunction)
        : index.search(searchQuery.value).map(i => i.item)
)
</script>
